body {
  font-family: var(--main-font);
  color: var(--main-txt-color);
  background-color: var(--main-bg-color);
  font-size: 14px;
  // letter-spacing: 0.03em;

  //   &.no-scroll {
  //     overflow-y: hidden; убирает вертикальный скролл на боди (для js script)
  //   }
}

img {
  display: block;
  max-width: 100%;
  height: auto;

  object-fit: cover;
  object-position: center;
}
