:root {
  /* fonts */
  --main-font: Roboto, sans-serif;
  --secondary-font: Kalam, sans-serif;

  /* text colors */
  --main-txt-color: #2c2c2c;
  --secondary-txt-color: #7eb101;

  /* bg coloros */
  --accent-bg-color: #bbf330;
  --accent-bg-color-hover: #b5ff00;
  --main-bg-color: #fefefe;

  /* others */
  --main-border-color: #ffe550;
  --animations: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --placeholder-txt-color: #505050;
  --fruit-gradient: radial-gradient(
    50% 50% at 50% 50%,
    #2f583f 0%,
    rgba(105, 105, 105, 0) 100%
  );
  --error-color: #ff705d;

  /* modal */
  --backdrop-col: rgba(94, 99, 99, 0.7);
  --modal-bg: #ffe550;
  --error-border: #ff705d;
  --common-border-col: #7eb101;
  --modal-placeholder-col: #c4c4c4;
  --submit-btn-bg: #bbf330;
}
