<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customers say</title>
    <link rel="stylesheet" href="./sass/layout/_customers_say.scss" />
  </head>
  <body>
    <div class="customers-container">
      <!-- *title -->
      <h1 class="customers__title ml">What our customers say</h1>
      <p class="customers__subtitle ml">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
      <div class="commentators">
        <!-- ! first commentator -->
        <div class="firstCommentBox">
          <!-- !!! SVG !!! -->
          <div class="svg-flex-container">
            <svg class="comment__rating">
              <use href="/src/images/customers/icons.svg#icon-rating"></use>
            </svg>
            <svg class="comment__rating">
              <use href="/src/images/customers/icons.svg#icon-rating"></use>
            </svg>
            <svg class="comment__rating">
              <use href="/src/images/customers/icons.svg#icon-rating"></use>
            </svg>
            <svg class="comment__rating">
              <use href="/src/images/customers/icons.svg#icon-rating"></use>
            </svg>
            <svg class="comment__rating">
              <use href="/src/images/customers/icons.svg#icon-rating"></use>
            </svg>
          </div>
          <p class="comment__text">
            “The Best app I have used to order food in a while, so many options
            to choose from too, I would recommend to a friend, No questions
            asked”
          </p>
          <!-- commentator  -->
          <div class="commentator">
            <img
              src="/src/images/customers/customer1.jpg"
              alt="first commentator"
            />
            <div class="commentator-NameandAbout">
              <p class="commentator__name">Sumith Shah</p>

              <p class="commentator__about">Some Dude</p>
            </div>
          </div>
        </div>
        <!-- ! second commentator -->
        <div class="secondCommentBox">
          <div class="svg-flex-container">
            <svg class="comment__rating">
              <use href="/src/images/customers/icons.svg#icon-rating"></use>
            </svg>
            <svg class="comment__rating">
              <use href="/src/images/customers/icons.svg#icon-rating"></use>
            </svg>
            <svg class="comment__rating">
              <use href="/src/images/customers/icons.svg#icon-rating"></use>
            </svg>
            <svg class="comment__rating">
              <use href="/src/images/customers/icons.svg#icon-rating"></use>
            </svg>
            <svg class="comment__rating">
              <use href="/src/images/customers/icons.svg#icon-rating"></use>
            </svg>
          </div>
          <p class="comment__text">
            “The ease with which I can just go in and order what i want was
            amazing, It has been a very pleasant experience ordering from this
            app”
          </p>
          <!-- commentator  -->
          <div class="commentator">
            <img
              src="/src/images/customers/customer2.jpg"
              alt="second commentator"
            />
            <div class="commentator-NameandAbout">
              <p class="commentator__name">Sumith Shah</p>

              <p class="commentator__about">Some Dude</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
