<section class="section margin100" id="favorites">
  <div class="container favorites">
    <h1 class="favorites__title">Some of Our Favorites</h1>
    <p class="favorites__subtitle">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <!-- ! dish list -->
    <ul class="dish-list">
      <div class="dish-border">
        <li class="dish-list__item">
          <a href="#">
            <img src="/src/images/favorites/gamburger_m@1x.png" alt="dish-1" />
          </a>
        </li>
      </div>
      <div class="dish-border">
        <li class="dish-list__item">
          <a href="#">
            <img src="/src/images/favorites/Pasta_m@1x.png" alt="dish-1" />
          </a>
        </li>
      </div>
      <div class="dish-border">
        <li class="dish-list__item">
          <a href="#">
            <img src="/src/images/favorites/pizza_m@1x.png" alt="dish-1" />
          </a>
        </li>
      </div>
      <!-- ? скрытые в мобильной версии блюда -->

      <div class="dish-border mob-hidden">
        <li class="dish-list__item">
          <a href="#">
            <img src="/src/images/favorites/chicken_lg@1x.png" alt="dish-1" />
          </a>
        </li>
      </div>
      <div class="dish-border mob-hidden">
        <li class="dish-list__item">
          <a href="#">
            <img src="/src/images/favorites/salat_lg@1x.png" alt="dish-1" />
          </a>
        </li>
      </div>
      <div class="dish-border mob-hidden">
        <li class="dish-list__item">
          <a href="#">
            <img src="/src/images/favorites/borshch_lg@1x.png" alt="dish-1" />
          </a>
        </li>
      </div>
    </ul>
  </div>
</section>
