<section class="section margin100" id="favorites">
  <div class="container favorites">
    <h1 class="favorites__title">Some of Our Favorites</h1>
    <p class="favorites__subtitle">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <!-- ! dish list ! -->
    <ul class="dish-list">
      <!-- ? first pic -->
      <li class="dish-list__item">
        <a href="#">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/gamburger_lg@1x.png 1x,
                ./images/favorites/gamburger_lg@2x.png 2x
              "
            />
            <source
              media="(min-width: 768px) and (max-width: 1279px)"
              srcset="
                ./images/favorites/gamburger_m@1x.png 1x,
                ./images/favorites/gamburger_m@2x.png 2x
              "
            />
            <source
              media="(min-width: 320px) and (max-width: 767px)"
              srcset="
                ./images/favorites/gamburger_s@1x.png 1x,
                ./images/favorites/gamburger_s@2x.png 2x
              "
            />
            <img
              class="subscribe__image"
              alt="gamburger"
              src="./images/favorites/gamburger_m@1x.png"
            />
          </picture>
        </a>
      </li>
      <li class="dish-list__item">
        <a href="#">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/pasta__lg@1x.png 1x,
                ./images/favorites/pasta__lg@2x.png 2x
              "
            />
            <source
              media="(min-width: 768px) and (max-width: 1279px)"
              srcset="
                ./images/favorites/pasta__m@1x.png 1x,
                ./images/favorites/pasta__m@2x.png 2x
              "
            />
            <source
              media="(min-width: 320px) and (max-width: 767px)"
              srcset="
                ./images/favorites/pasta__s@1x.png 1x,
                ./images/favorites/pasta__s@2x.png 2x
              "
            />
            <img
              class="subscribe__image"
              alt="pasta"
              src="./images/favorites/pasta__m@1x.png"
            />
          </picture>
        </a>
      </li>
      <li class="dish-list__item">
        <a href="#">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/pizza_lg@1x.png 1x,
                ./images/favorites/pizza_lg@2x.png 2x
              "
            />
            <source
              media="(min-width: 768px) and (max-width: 1279px)"
              srcset="
                ./images/favorites/pizza_m@1x.png 1x,
                ./images/favorites/pizza_m@2x.png 2x
              "
            />
            <source
              media="(min-width: 320px) and (max-width: 767px)"
              srcset="
                ./images/favorites/pizza_s@1x.png 1x,
                ./images/favorites/pizza_s@2x.png 2x
              "
            />
            <img
              class="subscribe__image"
              alt="pizza"
              src="./images/favorites/pizza_m@1x.png"
            />
          </picture>
        </a>
      </li>

      <!-- ? скрытые в мобильной версии блюда -->

      <li class="dish-list__item mob-hidden">
        <a href="#">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/chicken_lg@1x.png 1x,
                ./images/favorites/chicken_lg@2x.png 2x
              "
            />
            <source
              media="(min-width: 320px) and (max-width: 1279px)"
              srcset="
                ./images/favorites/chicken_m@1x.png 1x,
                ./images/favorites/chicken_m@2x.png 2x
              "
            />
            <img
              class="subscribe__image"
              alt="chicken"
              src="./images/favorites/chicken_m@1x.png"
            />
          </picture>
        </a>
      </li>
      <li class="dish-list__item mob-hidden">
        <a href="#">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/salat_lg@1x.png 1x,
                ./images/favorites/salat_lg@2x.png 2x
              "
            />
            <source
              media="(min-width: 320px) and (max-width: 1279px)"
              srcset="
                ./images/favorites/salat_m@1x.png 1x,
                ./images/favorites/salat_m@2x.png 2x
              "
            />
            <img
              class="subscribe__image"
              alt="salat"
              src="./images/favorites/salat_m@1x.png"
            />
          </picture>
        </a>
      </li>
      <li class="dish-list__item mob-hidden">
        <a href="#">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/borshch_lg@1x.png 1x,
                ./images/favorites/borshch_lg@2x.png 2x
              "
            />
            <source
              media="(min-width: 320px) and (max-width: 1279px)"
              srcset="
                ./images/favorites/borshch_m@1x.png 1x,
                ./images/favorites/borshch_m@2x.png 2x
              "
            />
            <img
              class="subscribe__image"
              alt="borshch"
              src="./images/favorites/borshch_m@1x.png"
            />
          </picture>
        </a>
      </li>
    </ul>
  </div>
</section>
