<section class="section margin100" id="favorites">
  <div class="container favorites">
    <h1 class="favorites__title">Some of Our Favorites</h1>
    <p class="favorites__subtitle">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <!-- ! dish list -->
    <ul class="dish-list">
      <li class="dish-list__item">
        <a href="#">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/gamburger_lg@1x.png,
                ./images/favorites/gamburger_lg@1x.png
              "
            />
            <source
              media="(min-width: 768px) and (max-width: 1279px)"
              srcset="
                ./images/favorites/gamburger_m@1x.png,
                ./images/favorites/gamburger_m@2x.png
              "
            />
            <source
              media="(min-width: 320px) and (max-width: 767px)"
              srcset="
                ./images/favorites/gamburger_s@1x.png,
                ./images/favorites/gamburger_s@2x.png
              "
            />
            <img
              class="subscribe__image"
              alt="Banan"
              src="./images/favorites/gamburger_m@1x.png"
            />
          </picture>
        </a>
      </li>
      <li class="dish-list__item">
        <a href="#">
          <img src="/src/images/favorites/Pasta_m@1x.png" alt="dish-1" />
        </a>
      </li>
      <li class="dish-list__item">
        <a href="#">
          <img src="/src/images/favorites/pizza_m@1x.png" alt="dish-1" />
        </a>
      </li>
      
      <!-- ? скрытые в мобильной версии блюда -->

      <li class="dish-list__item mob-hidden">
        <a href="#">
          <img src="/src/images/favorites/chicken_lg@1x.png" alt="dish-1" />
        </a>
      </li>
      <li class="dish-list__item mob-hidden">
        <a href="#">
          <img src="/src/images/favorites/salat_lg@1x.png" alt="dish-1" />
        </a>
      </li>
      <li class="dish-list__item mob-hidden">
        <a href="#">
          <img src="/src/images/favorites/borshch_lg@1x.png" alt="dish-1" />
        </a>
      </li>
    </ul>
  </div>
</section>
