<!-- FOOTER -->
<div class="footer">
  <div class="footer__container">
    <a class="footer__logo" href="./header.html"></a>

    <ul class="footer-nav__list">
      <li class="footer-nav__item">
        <a class="footer-nav__link" href="./header.html">Home</a>
      </li>
      <li class="footer-nav__item">
        <a class="footer-nav__link" href="./hero.html">About</a>
      </li>
      <li class="footer-nav__item">
        <a class="footer-nav__link" href="./favorites.html">Servis</a>
      </li>
      <li class="footer-nav__item">
        <a class="footer-nav__link" href="./offerings.html">Menu</a>
      </li>
      <li class="footer-nav__item">
        <a class="footer-nav__link" href="./subscribe.html">Contact</a>
      </li>
    </ul>
  </div>
  <div class="footer__form">
    <p class="footer__title">Subscribe</p>
    <form class="footer-form__field">
      <label class="footer-form__label" for="email" aria-autocomplete="none"></label>
      <input class="footer-form__input" type="email" name="email" id="email" placeholder="Enter your email" required />

      <button type="submit" class="footer__btn btn">
        Subscribe
      </button>
    </form>
  </div>
  <div class="footer__policy">
    <span class="policy__text"
      >By subscribing you agree to with our
      <a class="policy__link" href="">Privacy Policy</a>
    </span>
    <ul class="policy__list">
      <li class="policy__item">
        <a class="policy__link" href="">Privacy Policy</a>
      </li>
      <li class="policy__item">
        <a class="policy__link" href="">Terms of Service</a>
      </li>
      <li class="policy__item">
        <a class="policy__link" href="">Cookies Settings</a>
      </li>
    </ul>
    <p class="footer-copyright">2022 FoodSta. All right reserved</p>
  </div>
</div>
