<footer class="footer container" id="footer">
  <div class="footer__block">
    <div class="footer__container">
      <a class="footer__logo" href="./index.html">
        <svg class="footer__logo-icon" width="69" height="51">
          <use href="./images/icons/spryte_delivery.svg#logo_footer"></use>
          
        </svg></a>
      <nav class="footer-nav">
        <ul class="footer-nav__list list">
          <li class="footer-nav__item">
            <a class="footer-nav__link link" href="#hero">Home</a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link link" href="#offerings">About</a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link link" href="#footer">Service</a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link link" href="#favorites">Menu</a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link link" href="#subscribe">Contact</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="footer__form">
      <form class="footer-form__field">
        <label class="footer-form__label" for="email">
          <span class="footer-form__title">Subscribe</span>
          <input class="footer-form__input" type="email" name="email" id="email" placeholder="Enter your email"
            autocomplete="off" />
          <span class="footer-form__error"><svg class="footer-form__error-icon" width="12" height="12">
              <use href="./images/icons/spryte_delivery.svg#error"></use>
            </svg>Not a valid email address (example@email.com)</span>
        </label>

        <button type="submit" class="footer__btn btn">Subscribe</button>
        <span class="footer-policy__text">By subscribing you agree to with our
          <a class="footer-policy__link" href="./index.html">Privacy Policy</a>
        </span>
      </form>
    </div>
  </div>

  <div class="footer__more-info">
    <ul class="more-info__list list">
      <li class="more-info__item">
        <a class="more-info__link" href="./index.html">Privacy Policy</a>
      </li>
      <li class="more-info__item">
        <a class="more-info__link" href="./index.html">Terms of Service</a>
      </li>
      <li class="more-info__item">
        <a class="more-info__link" href="./index.html">Cookies Settings</a>
      </li>
    </ul>
    <p class="footer-copyright">2022 FoodSta. All right reserved.</p>
  </div>
</footer>