<header class="header">
  <div class="header__container container">
    <svg class="header__logo" width="71" height="52">
      <use href="./images/icons/spryte_delivery.svg#logo_header"></use>
    </svg>
    <div class="nav__container">
      <nav class="header__nav">
        <ul class="header__list header list">
          <li class="header__item current">Home
            <a class="header__link link" 
               href="#"
               rel="noopener noreferrer">
            </a>
          </li>
          <li class="header__item">About
            <a class="header__link link" 
               href="#hero"
               rel="noopener noreferrer">
            </a>
          </li>
          <li class="header__item">Service
            <a class="header__link link" 
               href="#"
               rel="noopener noreferrer">
            </a>
          </li>
          <li class="header__item">Menu
            <a class="header__link link" 
               href="#subscribe"
               rel="noopener noreferrer">
            </a>
          </li>
          <li class="header__item">Contact
            <a class="header__link link" 
               href="#"
               rel="noopener noreferrer">
            </a>
          </li>
        </ul>
      </nav>
      <button class="header__btn" type="button">Order Now</button>
      <button class="menu__btn js-open-menu" type="button">
      <svg class="mobile-menu__icon" width="28" height="28">
        <use href="./images/icons/spryte_delivery.svg#mobile_menu"></use>
      </svg>
    </button>
    </div>
  </div>
  <!--Mobile Menu-->
  <div class="menu__container js-menu-container js-overlay-modal" id="mobile-menu">
      <button type="button" class="modal__btn js-close-menu">
        <svg width="24" height="24">
          <use href="./images/icons/spryte_delivery.svg#mobile_menu-close"></use>
        </svg>
      </button>
      <nav class="mobile__nav">
        <ul class="mobile__list list">
          <li class="header__item current">Home
            <a class="header__link link" 
               href="#"
               rel="noopener noreferrer">
            </a>
          </li>
          <li class="header__item">About
            <a class="header__link link" 
               href="#hero"
               rel="noopener noreferrer">
            </a>
          </li>
          <li class="header__item">Service
            <a class="header__link link" 
               href="#"
               rel="noopener noreferrer">
            </a>
          </li>
          <li class="header__item">Menu
            <a class="header__link link" 
               href="#subscribe"
               rel="noopener noreferrer">
            </a>
          </li>
          <li class="header__item">Contact
            <a class="header__link link" 
               href="#"
               rel="noopener noreferrer">
            </a>
          </li>
        </ul>
      </nav>
  </div>
  <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
      integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
      crossorigin="anonymous">
    </script>
</header>