<section class="hero" id="hero">
  <div class="container box-hero">
    <h1 class="hero__title">Enjoy Your Favorite Food From Anywhere</h1>
    <p class="hero__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>
    <button class="hero__button" type="button" data-modal-main-opensec>Order Now</button>
    <div class="swiper-one border-swiper">
      <img class="hero__img" srcset="
          ../src/images/hero/dish-1_m@1x.png   292w,
          ../src/images/hero/dish-1_m@2x.png   584w,
          ../src/images/hero/dish-1_lg@1x.png  528w,
          ../src/images/hero/dish-1_lg@2x.png 1056w
        " sizes="(min-width: 1280px) 528px, (min-width: 768px) 292px, 100vw" src="../src/images/hero/dish-1_m@1x.png"
        alt="food-1" />
    </div>
    <div class="scrole">
      <button class="scrole__button left-btn" type="button">
        <svg class="scrole__icon" width="34" height="28">
          <use href="./images/icons/spryte_delivery.svg#mdl-left"></use>
        </svg>
      </button>
    </div>
    <div>
      <button class="scrole__button right-btn" type="button">
        <svg class="scrole__icon" width="34" height="28">
          <use href="./images/icons/spryte_delivery.svg#mdl-right"></use>
        </svg>
      </button>
    </div>
    <div class="scrole">
      <button class="scrole__button left-button" type="button">
        <svg class="scrole__icon" width="48" height="40">
          <use href="./images/icons/spryte_delivery.svg#big-left"></use>
        </svg>
      </button>
    </div>
    <div>
      <button class="scrole__button right-button" type="button">
        <svg class="scrole__icon" width="48" height="40">
          <use href="./images/icons/spryte_delivery.svg#big-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>