<section class="offerings">
  <div class="offerings-left">
    <h2 class="offerings-title">What’s Special About Our Offerings</h2>
    <p class="offerings-txt">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique. Duis cursus, mi quis viverra
      ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
    </p>
    <ul class="offerings-list">
      <li class="offerings-item">
        <svg class="offerings-svg" width="48px" height="48px">
          <use href="/src/images/icons/offerings_rocket.svg"></use>
        </svg>
        <h3 class="offerings-item-title">Fasest Delivery</h3>
        <p class="offerings-item-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
      </li>
      <li class="offerings-item">
        <svg class="offerings-svg" width="48px" height="48px">
            <use href="/src/images/icons/offerings_rocket.svg"></use>
          </svg>
        <h3 class="offerings-item-title">Easy To Order</h3>
        <p class="offerings-item-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
      </li>
    </ul>
    <button class="offerings-button" type="button">Order Now</button>
  </div>
</section>
