<section class="offerings section">
  <div class="offerings-container container">
    <div class="offerings-img-container">
      <img
        class="offerings-img"
        srcset="
          ../src/images/offerings/applemob_1x.png 280w,
          ../src/images/offerings/applemob_2x.png 560w,
          ../src/images/offerings/64tab_1x.png 704w,
          ../src/images/offerings/64tab_2x.png 1408w,
          ../src/images/offerings/apledesk_1x.png 550w,
          ../src/images/offerings/apledesk_2x.png 1100w
        "
        sizes="(min-width: 1280px) 550px, (min-width: 768px) 704px, (min-width: 480px) 280px, 100vw"
        src="../src/images/offerings/apledesk_1x.png"
        alt="apple"
      />
    </div>
    <div class="offerings-left">
      <h2 class="offerings-title">What’s Special About Our Offerings</h2>
      <p class="offerings-txt">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <ul class="offerings-list list">
        <li class="offerings-item">
          <img
            class="offerings-svg"
            width="48px"
            height="48px"
            src="../src/images/icons/icon_order.svg"
            alt="ropcket"
          />
          <h3 class="offerings-item-title">Fasest Delivery</h3>
          <p class="offerings-item-txt">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
        <li class="offerings-item">
          <img
            class="offerings-svg"
            width="48px"
            height="48px"
            src="../src/images/icons/icon_dev.svg"
            alt="touch"
          />
          <h3 class="offerings-item-title">Easy To Order</h3>
          <p class="offerings-item-txt">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
      </ul>
      <div class="btn-flex">
        <button class="offerings-button" type="button">Order Now</button>
        <a class="read-more" href=""
          >Read More
          <img src="../src/images/icons/arrow.svg" alt="arrow" />
        </a>
      </div>
    </div>
  </div>
</section>
