<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <img src="./images/hero/dish-1_lg@1x.png" alt="dccd" width="528px" />
    </div>
    <div class="swiper-slide">
      <img src="./images/hero/dish-2_lg@1x.png" alt="dcc" />
    </div>
    <div class="swiper-slide">
      <img src="./images/hero/dish-3_lg@1x.png" alt="dgfd" />
    </div>
  </div>
  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev slider-left"></div>
  <div class="swiper-button-next slider-right"></div>
</div>
