<section class="subscribe section" id="subscribe">
  <div class="subscribe__content container">
    <div class="subscribe__paragraph">
      <h1 class="subscribe__title">Subscribe To Get Special Offers</h1>
      <p class="subscribe__txt">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique.
      </p>
      <div class="subscribe__form-box">
        <form class="subscribe__form">
          <input
            class="subscribe__input"
            type="email"
            name="subscription"
            placeholder="Enter your email"
            autocomplete="off"
          />
          <span class="subscribe__error">
            <svg class="subscribe__error-triangle" width="12" height="12">
              <use href="./images/icons/spryte_delivery.svg#error"></use>
            </svg>
            Not a valid email address (example@email.com)
          </span>
          <button class="subscribe__btn" type="submit">Subscribe</button>
        </form>
      </div>
    </div>
    <div class="subscribe__image-box">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/subscribe/banan_lg@1x.png,
            ./images/subscribe/banan_lg@2x.png
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/subscribe/banan_m@1x.png,
            ./images/subscribe/banan_m@2x.png
          "
        />
        <source
          media="(min-width: 320px)"
          srcset="
            ./images/subscribe/banan_s@1x.png,
            ./images/subscribe/banan_s@2x.png
          "
        />

        <img
          class="subscribe__image"
          alt="Banan"
          src="./images/subscribe/banan_lg@1x.png"
        />
      </picture>
    </div>
  </div>
</section>
