li {
  list-style-type: none;
}
.margin100 {
  @media (min-width: 768px) {
    margin-bottom: 100px;
  }
}
.mob-hidden {
  display: none;

  @media (min-width: 768px) {
    display: flex;
  }
}

// - - - - - - - - - -

.favorites {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.favorites__title {
  font-weight: 700;
  font-size: 28px;
  line-height: calc(33 / 28);

  text-align: center;

  min-width: 280px;

  margin-bottom: 20px;

  color: var(--main-txt-col);

  @media (min-width: 768px) {
    padding-top: 100px;

    font-weight: 700;
    font-size: 42px;
    line-height: calc(49 / 42);
  }
}
.favorites__subtitle {
  min-width: 280px;
  font-style: normal;

  font-weight: 400;
  line-height: calc(16 / 14);

  margin-bottom: 60px;

  text-align: center;

  color: var(--main-txt-col);

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: calc(19 / 16);
  }
}

// dish - - - - - - - -

.dish-border {
  display: flex;

  width: 280px;
  height: 282px;

  background-color: var(--main-bg-color);

  border: 11px solid var(--main-border-color);
  border-radius: 139.658px;
  padding: 11px;

  overflow: hidden;

  transition: var(--animations);

  &:hover {
    border: 11px solid var(--accent-bg-color-hover);
    border-radius: 139.658px;
  }
  @media (min-width: 768px) and (max-width: 1279px) {
    width: 336px;
    height: 338px;
    border: 14px solid var(--main-border-color);
    border-radius: 167.59px;

    padding: 14px;

    &:hover {
      border: 14px solid var(--accent-bg-color-hover);
      border-radius: 167.59px;
    }
  }
  @media (min-width: 1280px) {
    width: 394px;
    height: 397px;

    align-items: center;
    justify-content: center;

    border: 16px solid var(--main-border-color);
    border-radius: 197.5px;

    &:hover {
      border: 16px solid var(--accent-bg-color-hover);
      border-radius: 197.5px;
    }
  }
}

.dish-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 20px;

  padding: 0;

  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    gap: 32px;
  }
}
.dish-list__item {
  // border: 11px solid #ffe550;
  // border-radius: 139.658px;
}
