.footer {
  height: 619px;
  background-color: var(--main-bg-color);
  box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);

  background-image: url(../images/footer/spray_right_s@1x.png),
    url(../images/footer/orange_s@1x.png),
    url(../images/footer/spray_left_s@1x.png),
    url(../images/footer/apple_left_s@1x.png),
    url(../images/footer/spray_left_down_s@1x.png),
    url(../images/footer/apple_down_s@1x.png),
    url(../images/footer/spray_right_down_s@1x.png),
    url(../images/footer/banan_s@1x.png);
  background-repeat: no-repeat;
  background-position: top right, top 25px right, top 137px left 1px,
    top 121px left, bottom left 43px, bottom left 78px, bottom right 24px,
    bottom right 89px;
  background-size: 104px 259px, 66px 205px, 100px 60px, 60px 110px, 79px 42px,
    84px 55px, 80px 66px, 105px 38px;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/footer/spray_right_s@2x.png),
      url(../images/footer/orange_s@2x.png),
      url(../images/footer/spray_left_s@2x.png),
      url(../images/footer/apple_left_s@2x.png),
      url(../images/footer/spray_left_down_s@2x.png),
      url(../images/footer/apple_down_s@2x.png),
      url(../images/footer/spray_right_down_s@1x.png),
      url(../images/footer/banan_s@2x.png);
  }

  @media screen and (min-width: 768px) {
    height: 506px;
    background-image: url(../images/footer/spray_left_m@1x.png),
      url(../images/footer/apple_left_m@1x.png),
      url(../images/footer/apple_right_m@1x.png),
      url(../images/footer/banan_m@1x.png),
      url(../images/footer/orange_half_m@1x.png),
      url(../images/footer/spray_right_m@1x.png),
      url(../images/footer/spray_up_m@1x.png),
      url(../images/footer/orange_up_m@1x.png);

    background-position: bottom left 126px, bottom left 210px, bottom right,
      bottom right 233px, bottom left -17px, bottom right 94px, top right,
      top 35px right;
    background-size: 168px 92px, 173px 105px, 155px 65px, 221px 82px, 184px 61px,
      171px 141px, 203px 365px, 96px 289px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/footer/spray_left_m@2x.png),
        url(../images/footer/apple_left_m@2x.png),
        url(../images/footer/apple_right_m@2x.png),
        url(../images/footer/banan_m@2x.png),
        url(../images/footer/orange_half_m@2x.png),
        url(../images/footer/spray_right_m@2x.png),
        url(../images/footer/spray_up_m@2x.png),
        url(../images/footer/orange_up_m@2x.png);
    }
  }

  @media screen and (min-width: 1280px) {
    height: 395px;
    background-image: url(../images/footer/spray_middle_lg@1x.png),
      url(../images/footer/orange_middle_lg@1x.png),
      url(../images/footer/spray_left_lg@1x.png),
      url(../images/footer/apple_left_lg@1x.png),
      url(../images/footer/apple_right_lg@1x.png),
      url(../images/footer/spray_right_lg@1x.png),
      url(../images/footer/banan_lg@1x.png),
      url(../images/footer/orange_half_lg@1x.png);
    background-position: bottom left 340px, bottom right 450px,
      bottom left 216px, bottom left 310px, bottom right, bottom right 134px,
      bottom right 266px, bottom left 53px;
    background-size: 526px 235px, 380px 126px, 178px 98px, 170px 100px,
      181px 73px, 182px 154px, 235px 87px, 200px 60px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/footer/spray_middle_lg@2x.png),
        url(../images/footer/orange_middle_lg@2x.png),
        url(../images/footer/spray_left_lg@2x.png),
        url(../images/footer/apple_left_lg@2x.png),
        url(../images/footer/apple_right_lg@2x.png),
        url(../images/footer/spray_right_lg@2x.png),
        url(../images/footer/banan_lg@2x.png),
        url(../images/footer/orange_half_lg@2x.png);
    }
  }
}

.footer__block {
  @media screen and (min-width: 1280px) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 100px;
    margin-bottom: 80px;
  }
}

.footer__container {
  display: flex;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    align-items: center;
    justify-content: flex-start;
    // margin-top: 100px;
  }

  @media screen and (min-width: 1280px) {
    justify-content: center;
    margin-top: 0;
  }
}

.footer__logo {
  display: inline-flex;
  width: 69px;
  height: 51px;
  margin-top: 60px;

  @media screen and (min-width: 1280px) {
    margin-top: 0;
  }
}

.footer-nav {
  display: flex;
  justify-content: flex-end;

  padding-top: 64px;
  padding-right: 82px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    justify-content: center;
    padding-top: 118px;
    padding-right: 0;
    margin-left: 114px;
    margin-bottom: 57px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 0;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 145px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    gap: 20px;
   
    @media screen and (min-width: 768px) {
      flex-wrap: nowrap;
      flex-direction: row;
      gap: 28px;
    }
  }

  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(16 / 14);
    color: #000000;

    position: relative;

    transition: color var(--animations);
  }

  &__link:hover,
  &__link:focus,
  &__link:hover::after,
  &__link:focus::after {
    color: var(--accent-bg-color);

    // @media screen and (max-width: 767px) {
    //   color: #000000;
    //   background-color: var(--accent-bg-color);
    //   border-radius: 4px;
    //   padding-top: 10px;
    //   padding-bottom: 10px;
    // }

    @media screen and (min-width: 768px) {
      opacity: 1;
    }
  }

  &__link::after {
    @media screen and (min-width: 768px) {
      position: absolute;
      left: 0;
      bottom: 0;

      opacity: 0;
      position: absolute;
      content: '';
      bottom: 0;
      display: block;
      background-color: var(--accent-bg-color);
      width: 100%;
      height: 1px;
      border-radius: 2px;
    }
  }
}

.footer__form {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer-form__title {
  display: block;
  text-align: left;

  font-weight: 500;
  font-size: 14px;
  line-height: calc(21 / 14);
  color: var(--main-txt-color);
  margin-bottom: 12px;
}

.footer-form__field {
  // position: relative;

  margin-bottom: 60px;

  @media screen and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 100px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 0;
  }
}

.footer-form__input {
  width: 279px;
  padding: 12px 12px;
  margin-bottom: 20px;

  border: 0.854167px solid var(--main-border-color);
  border-radius: 30px;
  outline: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(18 / 12);
  color: var(--main-txt-color);
  background-color: transparent;

  animation: border_input 1s linear infinite alternate-reverse;

  transition: border-color var(--animations), opacity var(--animations);

  &:hover,
  &:focus {
    border-color: var(--secondary-txt-color);
    animation: none;
  }

  &::placeholder {
    color: var(--placeholder-txt-color);
  }

  &:invalid {
    border-color: red;
  }

  &:invalid + .footer-form__error {
    opacity: 1;
  }  

  @media screen and (min-width: 480px) {
    margin-right: 13px;
  }

  @media screen and (max-width: 767px) {
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 12px;
  }
}

@keyframes border_input {
  0% {
    border-color: var(--main-border-color);
  }

  50% {
    border-color: var(--accent-bg-color-hover);
  }

  100% {
    border-color: var(--secondary-txt-color);
  }
}

.footer-form__error {
  position: absolute;
  top: 76px;
  left: 2px;
  display: flex;
  align-items: center;

  font-size: 10px;
  line-height: calc(15 / 10);
  color: #ff705d;
  opacity: 0;
  fill: red;

  transition: opacity var(--animations);
  animation: error 1.5s linear infinite;
}

@keyframes error {
  0% {
    color: #fff;
    fill: white;
    transform: scalex(1);
  }
  100% {
    color: red;
    fill: red;
    transform: scalex(1.1);
  }
}

.footer-form__error-icon {
  margin-right: 4px;
}

.footer__btn {
  position: relative;
  overflow: hidden;

  display: block;
  // justify-content: center;
  // align-items: center;
  // width: 103px;
  border-radius: 30px;
  border: none;
  padding: 11px 22px;
  margin-left: auto;
  cursor: pointer;

  margin-bottom: 20px;

  // background-color: transparent;
  // border: 0.854167px solid var(--secondary-txt-color);
  

  // transition: background-color var(--animations);

  &:hover .footer__btn-animation {
    top: -120px;
    background-color: rgba(181, 255, 0, 1);
  }
  
  
 

  @media screen and (max-width: 767px) {
    margin-left: auto;
  }

  @media screen and (min-width: 768px) {
    display: inline-block;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 12px;
  }
}

.footer__btn-txt {
  position: relative;
  z-index: 1;

  font-weight: 500;
  font-size: 13px;
  line-height: calc(20 / 13);
  color: var(--main-txt-color);
}

.footer__btn-animation {
  display: block;
  position: absolute;
  top: -80px;
  left: 0;
  width: 200px;
  height: 200px;
  background-color: #bbf330;
  box-shadow: inset 0 0 50px rgba(181, 255, 0, 1);
  transition: 1.5s;

  &::after,
  &::before {
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: rgb(255, 255, 255);
  }

  &::before {
    border-radius: 45%;
    background-color: rgb(255, 255, 255, 1);
    animation: animate 5s linear infinite alternate;
  }

  &::after {
    border-radius: 40%;
    background: rgba(255, 255, 255, 0.5);
    animation: animate 10s linear infinite alternate;
  }
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

.footer-policy__text {
  display: block;

  font-weight: 400;
  font-size: 10px;
  line-height: calc(12 / 10);
  color: var(--main-txt-color);
  user-select: none;
  text-underline-position: under;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: calc(14 / 12);
  }
}

.footer-policy__link {
  color: var(--secondary-txt-color);
}

.footer__more-info {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    // margin-bottom: auto;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 100px;
  }
}

.more-info__list {
  display: flex;
  justify-content: center;
  gap: 32px;

  @media screen and (min-width: 768px) {
    justify-content: flex-start;
  }
}

.more-info__link {
  font-weight: 400;
  font-size: 10px;
  line-height: calc(12 / 10);
  text-decoration-line: underline;
  color: var(--secondary-txt-color);

  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: calc(14 / 12);
  }
}

.footer-copyright {
  font-weight: 400;
  font-size: 10px;
  line-height: calc(12 / 10);
  text-align: center;
  color: var(--main-txt-color);
  margin-top: 40px;

  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: calc(14 / 12);
    text-align: end;
    margin-top: 0;
    margin-left: auto;
  }
}
