.header{
  position: fixed;
  width: 100%;
  min-height: 72px;
  z-index: 999;

  background-color: var(--main-bg-color);

  @media screen and (max-width: 767px) {
    position: fixed;
    width: 100%;
  }
}

.header__container{
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));

}

.nav__container{
  display: flex;
  align-items: center;
  gap: 28px;
  margin-left: auto;

}

.header__logo{
  margin: 10px 0;
}

.header__list{
  position: inherit;
  gap: 28px;
  margin-left: auto;
  align-items: center;
  
  @media screen and (max-width: 767px){
    display: none;
  }
  
  @media screen and (min-width: 768px) {
    display: flex;
  }
}


.header__link{
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 1.14;
  color:var(--main-txt-color);

  transition: color var(--animations);

  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    
    line-height: 1.19;
    color: #000000;
    
  }
  @media screen and (max-width:1279px) {
    color: #000000;
  }
}


.header__link:active,
.header__link:hover,
.header__link:focus,
.header__link:hover::after,
.header__link:focus::after{
  color: var(--accent-bg-color);

  @media screen and (max-width: 767px){
    border-radius: 30px 0px 0px 0px;
    color: #000000;
    background-color: var(--accent-bg-color);
  }
  @media screen and (min-width: 768px) {
    opacity: 1;
  }
}

.header__link::after{

  @media screen and (min-width: 768px) {
    opacity: 0;
    position: absolute;
    content: "";
    bottom: 0;
    display: block;
    background-color: var(--accent-bg-color);
    width: 100%;
    height: 1px;
    border-radius: 2px;
    transform: scaleX(1);
    transition: background-color var(--animations);
  }
}

.header__btn{
  width: 100px;
  height: 32px;
  color: var(--main-txt-color);
  background-color: var(--accent-bg-color);
  line-height: 1.14;
  border-radius: 30px;
  border: none;
  cursor: pointer;

  transition: background-color var(--animations);

  &:hover,
  &:focus{
    background-color: var(--accent-bg-color-hover);
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.menu__btn{
  border: none;
  fill: var(--accent-bg-color);
  background-color: inherit;
  padding: 0;

  transition: color var(--animations);

  @media screen and (min-width: 768px) {
    display: none;
  }
  
  &:hover,
  &:focus{
    color: var(--main-border-color);
  }
}

.header__logo{
  margin-right: auto;
}

.current{
  @media screen and (max-width: 767px) {
    border-radius: 30px 0px 0px 0px;
  }

  @media screen and (min-width: 768px) {
    color: var(--accent-bg-color);
  }
}

.current::after{
  @media screen and (min-width: 768px){
    opacity: 1;
    position: absolute;
    content: "";
    bottom: 0;
    display: block;
    background-color: var(--accent-bg-color);
    width: 100%;
    height: 1px;
    border-radius: 2px;
    transform: scaleX(1);
    transition: background-color var(--animations);
}
}

.contact{
  border-radius: 0px 0px 30px 30px;
}