.header{
  width: 100%;
  min-height: 72px;

  background-color: var(--main-bg-color);

  @media screen and (max-width: 767px) {
    position: fixed;
    width: 100%;
  }
}

.header__container{
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));

}

.nav__container{
  display: flex;
  align-items: center;
  gap: 28px;
  margin-left: auto;

  @media screen and (max-width: 767px){

  }
}

.header__logo{
  margin: 10px 0;
}

.header__list{
  gap: 28px;
  margin-left: auto;
  align-items: center;
  
  @media screen and (max-width: 767px){
    width: 130px;
    height: 255px;
    display: none;
  }
  
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.header__item{
  font-size: 14px;
  line-height: 1.14;
  color:var(--main-txt-color) ;
  cursor: pointer;

  @media screen and (max-width: 767px) {
    line-height: 1.19;
    color: #000000;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
  }
  @media screen and (max-width:1279px) {
    color: #000000;
  }
}
.header__link:active,
.header__link:hover,
.header__link:focus{
  color: var(--accent-bg-color);
}

.header__btn{
  width: 100px;
  height: 32px;
  color: var(--main-txt-color);
  background-color: var(--accent-bg-color);
  line-height: 1.14;
  border-radius: 30px;
  border: none;
  cursor: pointer;

  transition: background-color var(--animations);

  &:hover,
  &:focus{
    background-color: var(--accent-bg-color-hover);
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.menu__btn{
  border: none;
  color: var(--accent-bg-color);
  background-color: inherit;
  padding: 0;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header__logo{
  margin-right: auto;
}

.current{
  color: var(--accent-bg-color);
  text-decoration: underline var(--accent-bg-color);

  @media screen and (max-width: 767px) {
    color: #000000;
    text-decoration: none;
    background-color: var(--accent-bg-color);
    border-radius: 30px 0px 0px 0px;
  }
}

.mobile-menu__icon{
  fill: var(--secondary-txt-color);
  background-color: var(--main-bg-color);
  border: none;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.modal__btn{
  position: absolute;
  top: 4px;
  right: 4px;
  border: none;
  padding: 0;
  background-color: inherit;
  fill: #000000;

  &:hover,
  &:focus{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  }
}

.menu__container{
  position: fixed;
  top: 50px;
  right: 21px;
  transform: translateX(100%);
  overflow-y: scroll;
  z-index: 99;
  opacity: 0;
  
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu__container.is-open{
  transform: translateX(0);
  pointer-events: initial;
  visibility: visible;
  opacity: 1;
}

.mobile__list{
  gap: 28px;
  margin-left: auto;
  align-items: center;
  background-color: var(--main-bg-color);
  
  @media screen and (max-width: 767px){
    width: 130px;
    height: 255px;
    

    box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
    border-radius: 30px 0px 30px 30px;
  }
}