.hero {
  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: calc(33px / 28px);
    min-width: 266px;

    @media screen and (min-width: 768px) {
      font-size: 42px;
      line-height: calc(50px / 42px);
      max-width: 550px;
      line-height: 1.18;
      min-width: 266px;
    }

    @media screen and (min-width: 480px) {
      width: 300px;
    }

    @media screen and (min-width: 768px) {
      font-size: 42px;
      line-height: 1.2;
      width: 474px;
    }

    @media screen and (min-width: 1280px) {
      font-size: 48px;
      line-height: calc(58px / 48px);
      max-width: 459px;
      line-height: 1.2;
      width: 466px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(21px / 14px);
    min-width: 266px;
    margin-top: 28px;

    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: calc(24px / 16px);
      max-width: 336px;
      margin-top: 44px;
      line-height: 1.5;
      margin-top: 28px;
      min-width: 266px;
    }

    @media screen and (min-width: 768px) {
      font-size: 16px;
      width: 336px;
    }

    @media screen and (min-width: 1280px) {
      font-size: 16px;
      line-height: calc(24px / 16px);
      max-width: 502px;
      margin-top: 28px;
      width: 502px;
    }
  }

  &__button {
    font-weight: 500;
    font-size: 13px;
    line-height: calc(20px / 13px);
    width: 98px;
    height: 32px;
    border-radius: 30px;
    background: var(--accent-bg-color);
    border: none;
    margin-top: 28px;
    cursor: pointer;

    @media screen and (min-width: 768px) {
      margin-top: 40px;
    }

    &:hover,
    &:focus {
      background: var(--accent-bg-color-hover);
    }
  }
}

.box-hero {
  padding-top: 132px;
  padding-bottom: 50px;
  height: 442px;

  @media screen and (min-width: 768px) {
    height: 542px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 231px;
    height: 680px;
  }
}

.swiper {
  @media screen and (min-width: 768px) {
    width: 320px;
    height: 320px;

    position: relative;
    left: 389px;
    bottom: 245;
    margin-left: 0;
    margin-right: 0;
  }

  @media screen and (min-width: 1280px) {
    width: 580px;
    height: 580px;
    left: 650px;
    bottom: 430;
  }
}

.swiper-slide {
  display: none;
  // width: 320px;
  height: 320px;
  border: 14px solid var(--main-border-color);
  border-radius: 50%;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    display: block;
  }

  @media screen and (min-width: 1280px) {
    display: block;
    width: 580px;
    height: 580px;
    border: 26px solid var(--main-border-color);
  }
}

// .scrole {
//   &__button {
//     border: none;
//     border-radius: 8px;
//     background: #ffffff;
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);

//     &:hover,
//     &:focus {
//       box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
//       fill: #7eb101;
//     }
//   }

//   &__icon {
//     width: 12px;
//     height: 20px;

//     @media screen and (min-width: 1280px) {
//       width: 17px;
//       height: 29px;
//     }
//   }
// }

// .left-btn {
//   display: none;
//   cursor: pointer;

//   @media screen and (min-width: 768px) and (max-width: 1279px) {
//     display: block;
//     position: relative;
//     left: 370px;
//     bottom: 420px;
//     width: 34px;
//     height: 28px;
//   }
// }

// .right-btn {
//   display: none;
//   cursor: pointer;

//   @media screen and (min-width: 768px) and (max-width: 1279px) {
//     display: block;
//     position: relative;
//     left: 675px;
//     bottom: 448px;
//     width: 34px;
//     height: 28px;
//   }
// }

// .left-button {
//   display: none;
//   cursor: pointer;

//   @media screen and (min-width: 1280px) {
//     display: block;
//     position: relative;
//     left: 635px;
//     bottom: 740px;
//     width: 48px;
//     height: 40px;
//   }
// }

// .right-button {
//   display: none;
//   cursor: pointer;

//   @media screen and (min-width: 1280px) {
//     display: block;
//     position: relative;
//     left: 1195px;
//     bottom: 780px;
//     width: 48px;
//     height: 40px;
//   }
// }

.swiper-button-prev,
.swiper-button-next {
  // display: none;
  @media screen and (min-width: 768px) {
    position: fixed;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 28px 34px;
  }
}

.swiper-button-prev {
  @media screen and (min-width: 768px) {
    background-image: url(../images/icons/spryte_delivery.svg#mdl-left);
  }
}

.swiper-flip {
   overflow: hidden;
}

.swiper-button-next {
  @media screen and (min-width: 768px) {
    background-image: url(../images/icons/spryte_delivery.svg#arrow-right);
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.border {
  border: 14px solid #ffe550;
  border-radius: 50%;
  overflow: hidden;
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    width: 320px;
    height: 320px;
  }

  @media screen and (min-width: 1280px) {
    border: 26px solid #ffe550;
    display: block;
    width: 580px;
    height: 580px;
  }
}
