.subscribe {
  margin-top: -43px;

  @media screen and (min-width: 768px) {
    margin-top: -75px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: -66px;
  }
}

.subscribe__content {
  display: flex;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    padding-bottom: 100px;
  }

  @media screen and (max-width: 1279px) {
    flex-direction: column-reverse;
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 64px;
  }

  position: relative;
}

.subscribe__text-box {
  max-width: 100%;

  @media screen and (min-width: 1280px) {
    width: 639px;
  }
}

.subscribe__title {
  font-size: 28px;
  line-height: calc(34 / 28);

  margin-top: 17px;
  margin-bottom: 20px;
  max-width: 100%;

  @media screen and (min-width: 768px) {
    font-size: 42px;
    line-height: calc(50 / 42);

    margin-top: 20px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 46px;
    width: 100%;
  }
}
.subscribe__txt {
  font-size: 14px;
  line-height: calc(16 / 14);
  margin-bottom: 40px;
  max-width: 100%;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: calc(24 / 16);
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 24px;
    width: 100%;
  }
}
.subscribe__form-box {
  width: 100%;
}

.subscribe__form {
  max-width: 100%;
  @media screen and (min-width: 768px) {
    position: relative;
  }
}

.subscribe__input {
  width: 100%;
  padding-top: 12px;
  padding-right: 57px;
  padding-bottom: 12px;
  padding-left: 11px;
  margin-bottom: 20px;

  border-radius: 30px;
  border: 0.854167px solid var(--main-border-color);
  outline: transparent;

  animation: border_input 1s linear infinite alternate-reverse;

  transition: border-color var(--animations), opacity var(--animations);

  @media screen and (min-width: 768px) {
    width: 394px;
    margin-bottom: 0;
  }

  &:hover,
  &:focus {
    border-color: var(--secondary-txt-color);
    animation: none;
  }

  &::placeholder {
    font-size: 12px;
    line-height: 150%;
    color: #505050;
  }

  &:invalid {
    border-color: var(--error-color);
  }

  &:invalid + .subscribe__error {
    opacity: 1;
  }
}

@keyframes border_input {
  0% {
    border-color: var(--main-border-color);
  }

  50% {
    border-color: var(--accent-bg-color-hover);
  }

  100% {
    border-color: var(--secondary-txt-color);
  }
}

.subscribe__error {
  position: absolute;
  top: 46px;
  left: 2px;

  display: flex;
  align-items: center;

  font-size: 10px;
  line-height: 150%;
  color: var(--error-color);
  opacity: 0;
  fill: red;

  transition: opacity var(--animations);
  animation: error 1.5s linear infinite;
}

@keyframes error {
  0% {
    color: #fff;
    fill: white;
    transform: scalex(1);
  }
  100% {
    color: red;
    fill: red;
    transform: scalex(1.1);
  }
}

.subscribe__error-triangle {
  margin-right: 4px;
}

.subscribe__btn {
  position: relative;
  overflow: hidden;
  display: block;
  padding: 11px 22px;
  margin-left: auto;
  border-radius: 40px;
  border: none;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    display: inline-block;
    margin-left: 22px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 32px;
  }

  &:hover .subscribe__btn-animation {
    top: -120px;
    background-color: rgba(181, 255, 0, 1);
  }
}
.subscribe__btn-txt {
  position: relative;
  z-index: 1;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: calc(20 / 13);
  // letter-spacing: 5px;

  color: #2c2c2c;
}
.subscribe__btn-animation {
  display: block;
  position: absolute;
  top: -80px;
  left: 0;
  width: 200px;
  height: 200px;
  background-color: #bbf330;
  box-shadow: inset 0 0 50px rgba(181, 255, 0, 1);
  transition: 0.5s;

  &::after,
  &::before {
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: rgb(255, 255, 255);
  }

  &::before {
    border-radius: 45%;
    background-color: rgb(255, 255, 255, 1);
    animation: animate 5s linear infinite alternate;
  }

  &::after {
    border-radius: 40%;
    background: rgba(255, 255, 255, 0.5);
    animation: animate 10s linear infinite alternate;
  }
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

.subscribe__image-box {
  display: flex;
  justify-content: center;

  @media screen and (min-width: 768px) {
    justify-content: end;
  }

  @media screen and (min-width: 1280px) {
    display: block;
    position: absolute;
    top: -4px;
    left: 657px;
  }
}

.subscribe__image:hover {
  animation: rotate 1s linear 1 forwards;
}

@keyframes rotate {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.3);
  }
}
